# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
db.sqlite3-journal
db_backup.json

# Environment variables
.env
.env.*

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Collected static files
staticfiles/

# User uploaded files
media/