<footer class="footer">
<div class="footer-container">
<div class="footer-col contact-col">
<h3>اطلاعات تماس</h3>
<ul class="contact-list">
<li><span>{{ site_settings.phone_display|default:"09372105008" }}</span><i class="fa-solid fa-phone"></i></li>
<li><span>09372108005</span><i class="fa-solid fa-mobile-screen"></i></li>
<li><span>{{ site_settings.email|default:"azaryazdan@gmail.com" }}</span><i class="fa-regular fa-envelope"></i></li>
<li><span>تبریز 17 شهریور جدید <br/>جنب بانک ملت کوی نوبری جنب فروشگاه پالتار شرکت آدریزدان پلاک18</span><i class="fa-solid fa-location-dot"></i></li>
</ul>
</div>
<div class="footer-col">
<h3>خدمات</h3>
<ul>
<li><a href="#">مشاوره تخصصی</a></li>
<li><a href="#">خدمات پس از فروش</a></li>
<li><a href="#">آموزش و نصب</a></li>
<li><a href="#">گارانتی و ضمانت</a></li>
<li><a href="#">پشتیبانی آنلاین</a></li>
</ul>
</div>
<div class="footer-col">
<h3>دسترسی سریع</h3>
<ul>
<li><a href="{% url 'home' %}">صفحه اصلی</a></li>
<li><a href="{% url 'about' %}">درباره ما</a></li>
<li><a href="{% url 'shop' %}">برندها</a></li>
<li><a href="{% url 'blog' %}">مقالات</a></li>
<li><a href="{% url 'faq_list' %}">سوالات متداول</a></li>
<li><a href="mailto:{{ site_settings.email|default:'info@azaryazdan.ir' }}">تماس با ما</a></li>
</ul>
</div>
<div class="footer-col">
<h3>محصولات</h3>
<ul>
<li><a href="{% url 'shop' %}">تجهیزات دندانپزشکی</a></li>
<li><a href="{% url 'shop' %}">تجهیزات پزشکی</a></li>
<li><a href="{% url 'shop' %}">تجهیزات آزمایشگاهی</a></li>
<li><a href="{% url 'shop' %}">تجهیزات تصویربرداری</a></li>
<li><a href="{% url 'shop' %}">تجهیزات استریل</a></li>
<li><a href="{% url 'shop' %}">تجهیزات مصرفی</a></li>
</ul>
</div>
<div class="footer-col company-col">
<div class="logo">
<div class="logo-icon"><i class="fa-solid fa-heart-circle-plus"></i></div>
<div><h2>{{ site_settings.brand_name|default:"AZARYAZDAN" }}</h2><span>تجهیزات پزشکی و دندانپزشکی</span></div>
</div>
<p class="about-text">ارائه دهنده تجهیزات پزشکی و دندانپزشکی از برندهای معتبر جهانی با بهترین قیمت و خدمات پس از فروش</p>
<div class="socials">
<a href="#"><i class="fa-brands fa-instagram"></i></a>
<a href="#"><i class="fa-brands fa-telegram"></i></a>
<a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
<a href="#"><i class="fa-brands fa-whatsapp"></i></a>
</div>
</div>
</div>
<div class="footer-bottom">
<div class="footer-links"><a href="#">شرایط و قوانین</a><a href="#">سیاست حفظ حریم خصوصی</a></div>
<div class="copyright">© 1405 تمامی حقوق این وبسایت متعلق به شرکت مدی‌دنت می‌باشد.</div>
</div>
<a class="scroll-top" href="#" id="scrollTopBtn"><i class="fa-solid fa-arrow-up"></i></a>
</footer>