{% extends "base.html" %}
{% load static %}

{% block html_attributes %} lang="fa" dir="rtl" {% endblock %}
{% block head %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ article.title }} | وبلاگ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/takweblog.css' %}">
{% endblock %}
{% block body_attributes %}{% endblock %}
{% block pre_topbar %}{% endblock %}
{% block topbar %}{% include "includes/topbar_takweblog.html" %}{% endblock %}
{% block header %}{% include "includes/header_takweblog.html" %}{% endblock %}
{% block content %}

{% endblock %}
{% block footer %}{% include "includes/footer_takweblog.html" %}{% endblock %}
{% block scripts %}
<script src="{% static 'js/takweblog.js' %}"></script>
<script src="{% static 'js/persian-numbers.js' %}"></script>
{% endblock %}
